#DiscoEx_GQBox form {
    background-color: #616161;
}

#ModuleHome {
    background-color: #616161;
}

h2.pageMainTitle {
    background-color: #616161;
}

div.clearfix {
    background-color: #616161;
}

div.widget {
    background-color: #383838;
}

g.raphael-group-1231-background rect {
    background-color: #383838;
}

div.footer {
    background-color: #616161;
}

div.subContent {
    background-color: #616161;
}

tbody tr td {
    background-color: #616161;
}

#ModuleDiscovery {
    background-color: #616161;
}

#currentRuns {
    background-color: #313131;
    color: #ffffff;
}

div.tabContentHolder.openTab {
    background-color: #616161;
}

#DiscoveryBody {
    background-color: #616161;
}
